.faq {
	margin: 1rem;
	background-color: rgb(248, 239, 239);
	padding: 1rem;
	border-radius: 0.6rem;
	-webkit-border-radius: 0.6rem;
	-moz-border-radius: 0.6rem;
	-ms-border-radius: 0.6rem;
	-o-border-radius: 0.6rem;
	box-shadow: 0.1rem 0.1rem #2c2c2c;
}
p {
}
